








<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="ru"><![endif]-->
<!--[if !IE]><!--><html lang="ru"><!--<![endif]-->
<head dir="ltr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



  
      <title>
       Расписание | BUSMAT | Национальная платформа открытого образования
      </title>
  

      <script type="text/javascript">
        /* immediately break out of an iframe if coming from the marketing website */
        (function(window) {
          if (window.location !== window.top.location) {
            window.top.location = window.location;
          }
        })(this);
      </script>

  

  <script type="text/javascript" src="https://cdn.openedu.ru/351a7d/js/i18n/ru/djangojs.458256e83169.js"></script>

  <link rel="icon" type="image/x-icon" href="https://cdn.openedu.ru/351a7d/default/default/images/favicon.bd3d272022e9.ico" />

  
  

    <link href="https://cdn.openedu.ru/351a7d/default/css/lms-style-vendor.4ccaa7f84216.css" rel="stylesheet" type="text/css" />



  
  

    <link href="https://cdn.openedu.ru/351a7d/default/css/lms-main-v1.16802bc86d4d.css" rel="stylesheet" type="text/css" />




      
    <script type="text/javascript" src="https://cdn.openedu.ru/351a7d/default/js/lms-base-vendor.cb449c35a4fc.js" charset="utf-8"></script>


      
    <script type="text/javascript" src="https://cdn.openedu.ru/351a7d/default/js/lms-base-application.ee4165cc24a4.js" charset="utf-8"></script>



  <script>
    window.baseUrl = "https://cdn.openedu.ru/351a7d/";
    (function (require) {
      require.config({
          baseUrl: window.baseUrl
      });
    }).call(this, require || RequireJS.require);
  </script>
  <script type="text/javascript" src="https://cdn.openedu.ru/351a7d/lms/js/require-config.cd72e66c1a3e.js"></script>
  
    <script type="text/javascript">
        (function (require) {
          require.config({
              paths: {
                'js/courseware/courseware_factory': 'js/courseware/courseware_factory.1504fc10caef',
'draggabilly': 'js/vendor/draggabilly.26caba6f7187',
'js/courseware/toggle_element_visibility': 'js/courseware/toggle_element_visibility.22ad04bb0497',
'js/courseware/course_home_events': 'js/courseware/course_home_events.f9fa9db95688',
'js/courseware/link_clicked_events': 'js/courseware/link_clicked_events',
'moment': 'common/js/vendor/moment-with-locales.084396f4103c',
'moment-timezone': 'common/js/vendor/moment-timezone-with-data.b062d5eadf09',
'js/student_account/logistration_factory': 'js/student_account/logistration_factory.fefa851b3af9',
'js/groups/views/cohorts_dashboard_factory': 'js/groups/views/cohorts_dashboard_factory.ab9136aa78e6',
'js/dateutil_factory': 'js/dateutil_factory.f141a7899e5d',
'course_bookmarks/js/views/bookmark_button': 'course_bookmarks/js/views/bookmark_button.ab6b0ad85d15',
'js/courseware/accordion_events': 'js/courseware/accordion_events.6064c7809de5',
'js/views/message_banner': 'js/views/message_banner.099aec538f98',
'js/student_profile/views/learner_profile_factory': 'js/student_profile/views/learner_profile_factory.49278d75ab86'
            }
          });
        }).call(this, require || RequireJS.require);
    </script>
  


  
  

  

    <link href="https://cdn.openedu.ru/351a7d/default/css/lms-style-course-vendor.60799ae7d9f8.css" rel="stylesheet" type="text/css" />




  

    <link href="https://cdn.openedu.ru/351a7d/default/css/lms-course.26bbbd1a0efb.css" rel="stylesheet" type="text/css" />






  

  


  


<!-- dummy Segment -->
<script type="text/javascript">
  var analytics = {
    track: function() { return; },
    trackLink: function() { return; },
    pageview: function() { return; },
    page: function() { return; }
  };
</script>
<!-- end dummy Segment -->


  <meta name="path_prefix" content="">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY" />



</head>

<body class="ltr view-in-course view-statictab  lang_ru">


<div id="page-prompt"></div>
  <div class="window-wrap" dir="ltr">
    <a class="nav-skip" href="#main">Перейти к основному содержимому</a>

        












<header id="global-navigation" class="global-header header slim" >
    <div class="container-fluid" aria-label="Глобально">
      <div class="top-bar header__row">

        <div class="header__dropdown-wrapper header__dropdown-main">
            <div class="dropdown" id="siteMenu">
              <span class="dropdown-toggle">
                <div class="burger-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </span>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <div class="header__search search-form search-form--mobile" style="display: none;">
                    <form role="form" action="https://openedu.ru/course/" name="search" id="search-form" autocomplete="off">
                    <div class="form-group">
                        <span class="icon search-icon pull-right" id="search-icon"></span>
                        <input type="submit" style="display: none;" value="Поиск в каталоге" class="btn btn-default">
                        <input class="form-control" name="text" maxlength="255" id="search-form-text" placeholder="Search..."> </div>
                    </form>
                  </div>
                  <li role="presentation">
                    <a href="https://openedu.ru/course/">Каталог курсов</a>
                  </li>
                  <li role="presentation">
                    <a href="https://openedu.ru/partners/apply/">Сотрудничество</a>
                  </li>
                  <li role="presentation">
                    <a href="http://npoed.ru/about">О проекте</a>
                  </li>
                  <li role="presentation">
                    <a href="https://openedu.ru/feedback">Помощь</a>
                  </li>
              </ul>
            </div>
        </div>
        <div class="header__logo">
          <a class="header__logo-link" href="/">
            
              <img class="header__logo-img" src="https://cdn.openedu.ru/351a7d/default/default/images/OpenEdXLogo.287e6752bd91.png" alt="Национальная платформа открытого образования"/>
            
          </a>
        </div>
        <nav class="header__nav">
          <a class="header__nav-link" href="https://openedu.ru/course/">Каталог курсов</a>
          <a class="header__nav-link" href="https://openedu.ru/partners/apply">Сотрудничество</a>
          <a class="header__nav-link" href="http://npoed.ru/about">О проекте</a>
        </nav>
        <div class="header__search search-form search-form--desktop">
          <form role="form" action="https://openedu.ru/course/" name="search" id="search-form" autocomplete="off">
          <div class="form-group">
              <span class="icon search-icon pull-right" id="search-icon"></span>
              <input class="form-control" name="text" maxlength="255" id="search-form-text" placeholder="Поиск в каталоге"> </div>
          </form>
        </div>
          <div class="header__dropdown-wrapper header__dropdown-login" id="sb_profile" style="z-index: 1000">
              <div class="dropdown">
                <span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                  <span class="icon profile-icon"></span>
                  <span class="dropdown-login__text">Мой профиль</span>
                </span>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                  
                    <li><a href="https://openedu.ru/my/">Мои курсы</a></li>
                    <li><a href="https://sso.openedu.ru/profile/">Профиль</a></li>
                  
                  <li><a href="/social-logout" role="menuitem">Выйти</a></li>
                </ul>
              </div>

              </div>
          </div>
      </div>
    </div>
</header>
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true"><strong>Warning:</strong> Your browser is not fully supported. We strongly recommend using <a href="https://www.google.com/chrome" target="_blank">Chrome</a> or <a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>.</div>
<![endif]-->









        








    <div class="content-wrapper" id="content">
      





















    
    <script type="text/javascript" src="https://cdn.openedu.ru/351a7d/default/js/lms-proctoring.54e175463a40.js" charset="utf-8"></script>


        <script type="text/template" id="proctored-exam-status-tpl">
            <div class="exam-timer">
    <%
        function gtLtEscape(str) {
            return String(str)
                .replace(/</g, '&lt;')
                .replace(/>/g, '&gt;')
        }
    %>
    <div class='exam-text'>
        <%= interpolate_text(gettext('You are taking "{exam_link}" as a {exam_type} exam. The timer on the right shows the time remaining in the exam.'), {exam_link: "<a href='" + exam_url_path + "'>"+gtLtEscape(exam_display_name)+"</a>", exam_type: (!_.isUndefined(arguments[0].exam_type)) ? exam_type : gettext('timed')}) %>
        <%- gettext('To receive credit for problems, you must select "Submit" for each problem before you select "End My Exam".') %>
    </div>
    <div id="turn_in_exam_id" class="pull-right turn_in_exam">
        <span>
            <% if(attempt_status !== 'ready_to_submit') {%>
                <button class="exam-button-turn-in-exam btn btn-pl-primary">
                    <%- gettext("End My Exam") %>
                </button>
            <% } %>
        </span>
        <span class="sr timer-announce" aria-live="assertive"></span>
        <span id="time_remaining_id">
            <b>
            </b>
        </span>
    </div>
</div>

        </script>
    <div class="proctored_exam_status"></div>

    <nav class="static_tab_16f8c89be615478684fd6063ea137f8d wrapper-course-material" aria-label="Материалы курса">
        <div class="course-material">
            <div class="coursename-title hd-5">Технологии управления бизнесом (часть 1: Математические методы в экономике)</div>
            
            <ol class="tabs course-tabs">
                





  
  <li class="tab">
  <a href="main.html" class="">
  Главная страница
  </a>
  </li>
  
  <li class="tab">
  <a href="curs.html" class="">
  Курс
  </a>
  </li>
  
  <li class="tab">
  <a href="timetable.html" class="active">
  Расписание
      <span class="sr">, current location</span>
  </a>
  </li>
  
  <li class="tab">
  <a href="Discus.html" class="">
  Обсуждение
  </a>
  </li>
  
  <li class="tab">
  <a href="progress.html" class="">
  Прогресс
  </a>
  </li>
  
  <li class="tab">
  <a href="/courses/course-v1:spbstu+BUSMAT+spring_2019/pdfbook/0/" class="">
  К у з ь м е н к о в В. А. Математические методы и модели исследования операций. Параметрическая, многокритериальная и целочисленная опти-мизация: Учеб. пособие. – Изд. 2-е, перераб. и дополн. / В.А. Кузьменков, В.Н. Юрьев. – СПб.: Изд-во Политехн. ун-та, 2011. – 120 с.
  </a>
  </li>

                
            </ol>
        </div>
    </nav>


<main id="main" aria-label="Content" tabindex="-1">
    <section class="container">
      <div class="static_tab_wrapper">
        <div class="xblock xblock-student_view xblock-student_view-static_tab xmodule_display xmodule_StaticTabModule" data-runtime-class="LmsRuntime" data-init="XBlockToXModuleShim" data-block-type="static_tab" data-request-token="b2854684907711e99958d00d6f0f22c0" data-runtime-version="1" data-usage-id="block-v1:spbstu+BUSMAT+spring_2019+type@static_tab+block@16f8c89be615478684fd6063ea137f8d" data-type="HTMLModule" data-course-id="course-v1:spbstu+BUSMAT+spring_2019">
  <script type="json/xblock-args" class="xblock-json-init-args">
    {"xmodule-type": "HTMLModule"}
  </script>
  <p class="MsoNormal" align="center" style="text-align: center;"><b><span style="font-size: 12.0pt; mso-bidi-font-size: 11.0pt; line-height: 115%; font-family: 'Times New Roman','serif';">Расписание курса &laquo;Технологии управления бизнесом. Часть 1. Математические методы в экономике&raquo;<o:p></o:p></span></b></p>
<table class="MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="0" style="margin-left: 56.2pt; border: none;">
<tbody>
<tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:19.85pt">
<td width="189" style="width: 141.5pt; border-width: 1.5pt 1pt 1.5pt 1.5pt; border-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal"><b><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif;">Неделя</span></b><span style="font-size: 10.5pt; font-family: &quot;Times New Roman&quot;, serif;"><o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top-width: 1.5pt; border-top-color: windowtext; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal"><b><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif;">Открытие</span></b><span style="font-size: 10.5pt; font-family: &quot;Times New Roman&quot;, serif;"><o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top-width: 1.5pt; border-top-color: windowtext; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal"><b><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif;">Мягкий дедлайн</span></b><span style="font-size: 10.5pt; font-family: &quot;Times New Roman&quot;, serif;"><o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top-width: 1.5pt; border-right-width: 1.5pt; border-bottom-width: 1.5pt; border-top-color: windowtext; border-right-color: windowtext; border-bottom-color: windowtext; border-left: none; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal"><b><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif;">Твердый дедлайн</span></b><span style="font-size: 10.5pt; font-family: &quot;Times New Roman&quot;, serif;"><o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:1;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 1. Лекция 1<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">11 февраля<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">17 февраля<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">24 февраля<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:2;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 2. Лекция 2<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">18 февраля<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">24 февраля<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">03 марта<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:3;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 3. Лекция 3<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">25 февраля<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">03 марта<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">10 марта<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:4;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 4. Лекция 4<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">04 марта<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">10 марта<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">17 марта<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:5;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 5. Лекция 5<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">11 марта<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">17 марта<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">24 марта<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:6;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 6. Лекция 6<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">18 марта<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">24 марта<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">31 марта<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:7;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 7. Лекция 7<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">25 марта<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">31 марта<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">07 апреля<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:8;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 8. Лекция 8<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">01 апреля<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">07 апреля<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">14 апреля<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:9;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 9. Лекция 9<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">08 апреля<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">14 апреля<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">21 апреля<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:10;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 10 Лекция 10<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">15 апреля<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">21 апреля<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">28 апреля<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:11;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 11. Лекция 11<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">22 апреля<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">28 апреля<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">05 мая<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:12;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 12. Лекция 12<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">29 апреля<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">05 мая<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">12 мая<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:13;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 13. Лекция 13<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">06 мая<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">12 мая<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">19 мая<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:14;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 14. Лекция 14<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">13 мая<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">19 мая<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">26 мая<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:15;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  8.55pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 15. Лекция 15<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">20 мая<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">26 мая<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">02 июня<o:p></o:p></span></p>
</td>
</tr>
<tr style="mso-yfti-irow:16;mso-yfti-lastrow:yes;height:19.85pt">
<td width="189" style="width: 141.5pt; border-top: none; border-left-width: 1.5pt; border-left-color: windowtext; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">Неделя 16. Итоговое тестирование<o:p></o:p></span></p>
</td>
<td width="189" style="width: 5cm; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">27 мая<o:p></o:p></span></p>
</td>
<td width="217" style="width: 163pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">02 июня<o:p></o:p></span></p>
</td>
<td width="198" style="width: 148.85pt; border-top: none; border-left: none; border-bottom-width: 1.5pt; border-bottom-color: windowtext; border-right-width: 1.5pt; border-right-color: windowtext; padding: 0cm 5.4pt; height: 19.85pt;">
<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-indent:
  35.45pt"><span style="font-size: 12pt; line-height: 107%; font-family: &quot;Times New Roman&quot;, serif;">29 июня<o:p></o:p></span></p>
</td>
</tr>
</tbody>
</table>
<p></p>
</div>

      </div>
    </section>
</main>

      
    </div>

        





<footer class="global-footer">
  <div class="container-fluid">
  <div class="row">
      <div class="col-md-5  col-sm-12 side left-side">
        <a href="https://openedu.ru" class="pull-left"><img src="https://cdn.openedu.ru/351a7d/default/default/images/logo-small.a2e576a818b3.png" alt="" class="logo-small"></a>
        <ul class="list-unstyled">
          <li><a href="https://openedu.ru/course">Каталог курсов</a></li>
          <li><a href="https://openedu.ru/specialize">Направления подготовки</a></li>
        </ul>
      </div>
      <div class="col-md-7 side right-side hidden-xs">
        <div class="row">
          <div class="col-md-5 col-sm-6">
            <ul class="list-unstyled narrow">
              <li><a href="http://npoed.ru/about">О проекте</a></li>
              <li><a href="https://openedu.ru/faq/">Вопросы и ответы</a></li>
            </ul>
          </div>
          <div class="col-md-7 col-sm-6">
            <ul class="list-unstyled wide">
              <li><a href="https://openedu.ru/terms/">Пользовательское соглашение</a></li>
              <li><a href="https://openedu.ru/contacts">Контакты</a></li>
              <li><a href="https://openedu.ru/feedback">Помощь</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 hidden-xs hidden-sm">
        <a href="http://openedx.org" target="_blank" class="openedx-logo">
          <img src="https://sso.openedu.ru/static/img/edx-openedx-logo-tag.png" width="150" height="50" alt="Powered by Open edX" />
        </a>
      </div>
    </div>

    <div class="row copyright">
      <div class="col-xs-12 col-md-5 copyright__sign">
        © 2018 Открытое Образование
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/openeduRU" target="_blank" title="Группа Национальной платформы открытого образования в facebook">
              <img src="https://cdn.openedu.ru/351a7d/default/default/images/fb.6819e839d3db.png">
            </a>
          </li>
          <li>
            <a href="https://vk.com/openeduRU" target="_blank" title="Группа Национальной платформы открытого образования во ВКонтакте">
              <img src="https://cdn.openedu.ru/351a7d/default/default/images/vk.61bf9c82eeb9.png">
            </a>
          </li>
          <li>
            <a href="http://ok.ru/group/52786563514445" target="_blank" title="Группа Национальной платформы открытого образования в Одноклассниках">
              <img src="https://cdn.openedu.ru/351a7d/default/default/images/ok.af6bc90aaca1.png">
            </a>
          </li>
          <li>
            <a href="https://instagram.com/openeduRU" target="_blank" title="Группа Национальной платформы открытого образования в Instagram">
              <img src="https://cdn.openedu.ru/351a7d/default/default/images/inst.db679181d6ab.png">
            </a>
          </li>
          <li>  
            <a href="https://twitter.com/openeduRU" target="_blank" title="Страница Национальной платформы открытого образования в twitter">
              <img src="https://cdn.openedu.ru/351a7d/default/default/images/tw.32b0bf3c1233.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </footer>
  <script type="text/javascript" >
    $(function () {
      var dropdown = $('.dropdown');
      dropdown.click( function() {
          $(this).toggleClass('open');
      });
      $('#search-form').submit(function (e) {
        e.preventDefault();
        e.stopPropagation();
        window.location.href = this.action + '#query=' + $('#search-form-text').val();
      });
      $('#search-icon').click(function () {
        $('#search-form').trigger('submit');
      });
      $('.header__dropdown-wrapper a').on('click', function() {
        if($(this).attr('href') != null) {
          window.location = $(this).attr('href');
        }
      })
  });
  </script>


  </div>

  




<script type="text/javascript">
    // Fast Preview was introduced in 2.5. However, it
    // causes undesirable flashing/font size changes when
    // MathJax is used for interactive preview (equation editor).
    // Setting processSectionDelay to 0 (see below) fully eliminates
    // fast preview, but to reduce confusion, we are also setting
    // the option as displayed in the context menu to false.
    // When upgrading to 2.6, check if this variable name changed.
    window.MathJax = {
      menuSettings: {CHTMLpreview: false}
    };
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [
        ["\\(","\\)"],
        ['[mathjaxinline]','[/mathjaxinline]']
      ],
      displayMath: [
        ["\\[","\\]"],
        ['[mathjax]','[/mathjax]']
      ]
    }
  });
</script>
<script type="text/x-mathjax-config">

  // In order to eliminate all flashing during interactive
  // preview, it is necessary to set processSectionDelay to 0
  // (remove delay between input and output phases). This
  // effectively disables fast preview, regardless of
  // the fast preview setting as shown in the context menu.
  MathJax.Hub.processSectionDelay = 0;

  MathJax.Hub.signal.Interest(function(message) {
    if(message[0] === "End Math") {
        set_mathjax_display_div_settings();
    }
  });
  function set_mathjax_display_div_settings() {
    $('.MathJax_Display').each(function( index ) {
      this.setAttribute('tabindex', '0');
      this.setAttribute('aria-live', 'off');
      this.removeAttribute('role');
      this.removeAttribute('aria-readonly');
    });
  }
</script>


<!-- This must appear after all mathjax-config blocks, so it is after the imports from the other templates.
     It can't be run through static.url because MathJax uses crazy url introspection to do lazy loading of
     MathJax extension libraries -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_SVG"></script>



  

  



  <script type="text/javascript" src="https://cdn.openedu.ru/351a7d/js/vendor/noreferrer.aa62a3e70ffa.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://cdn.openedu.ru/351a7d/js/utils/navigation.323bf3e1ae16.js" charset="utf-8"></script>
  
</body>
</html>



<!-- Performance beacon for onload times -->
